<div class="fancy-row">
  <div class="edit-profile-columns">
    <div class="panel panel-default panel-padding-top">
      <div class="panel-heading">
        <h5 class="text-center">Edit Password</h5>
      </div>
      <div class="panel-body">
        <%= bootstrap_form_for(@user, url: { action: "update_password", username: @user.username }, html: {class: "form"}) do |f| %>
            <%= f.password_field :password, :autocomplete => "off"  %>
            <%= f.password_field :password_confirmation %>
            <%= f.password_field :current_password %>
      </div>
      <div class="panel-footer">
        <%= f.submit "Update Password", :class => 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
