<div class="fancy-row">
  <div class="edit-profile-columns">
    <%= bootstrap_form_for @user, url: update_user_path(@user.username), html: {class: "form"} do |f| %>
      <div class="panel panel-default panel-padding-top">
        <div class="panel-heading">
          <h5 class="text-center">Profile Information</h5>
        </div>
        <div class="panel-body profile-panel">
            <%= f.text_field :username, prepend: "@" %>
            <%= f.text_field :first_name %>
            <%= f.text_field :last_name %>

            <p style="font-weight: bold;">
              Profile Image
            </p>

            <%= profile_pic_help(@user, :edit_page) %>
            <% if @user.image_url.present? %>
              <p>Your profile picture is set via URL</p>
            <% elsif @user.facebook_uid %>
              <p>Your profile picture is synced with Facebook</p>
            <% end %>
            <%= f.text_field :image_url, hide_label: true, prepend: "URL" %>

            <% if @user.facebook_uid.blank? %>
              <%= link_to('Login to Facebook for Image', user_omniauth_authorize_path(:facebook)) %>
            <% elsif @user.image_url.present? %>
              <%= link_to('Refresh Facebook Image', refresh_facebook_image_path) %>
            <% end %>
        </div>
        <div class="panel-footer">
          <%= f.submit "Save", :class => 'btn btn-primary' %>
          <p class="pull-right change-password"><%= link_to("Change Password", edit_user_password_path, method: :get) %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="fancy-row">
  <div class="edit-profile-columns">
    <hr />
    <%= link_to("Delete Your Account", { action: :confirm_rm }, method: :get, class: "btn btn-danger") %>
  </div>
</div>
